@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff7ed;
}

.main_container {
  overflow: hidden;
}

/*=================================
        Announcment Bar
=================================*/

.announcment_bar {
  display: flex;
  padding: 10px 300px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #fff7ed;
}

.announcment_bar p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
}

/*===============================
        Hero Container
===============================*/

.hero_container {
  background: linear-gradient(90deg, #f75e7c 0%, #f7bd67 100%);
  padding: 68px;
  padding-top: 0;
}

/*======================
        Navbar
======================*/

.navbar {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}

.navbar .blank {
  width: 5px;
  height: 5px;
  background: transparent;
}

.navbar .logo {
  width: 219px;
  height: 48px;
  flex-shrink: 0;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
}

.navbar .nav-icons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.navbar .nav-icons svg {
  width: 24px;
  height: 24px;
}

/*=======================
        Header
=======================*/

.header {
  display: flex;
  align-items: center;
  background: #fff7ed;
}

.header .text_section {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  padding-left: 60px;
  flex: 1 0 0;
}

.header .text_section h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 110% */
  padding-bottom: 22px;
}

.header .text_section p {
  width: 483px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  margin-bottom: 36px;
}

.header .text_section .shop_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

.header .img_section {
  flex: 1 0 0;
  align-self: stretch;
}

.header .img_section img {
  width: 100%;
  height: 100%;
}

/*====================================
        Feature Container
====================================*/

.feature_container .features {
  display: flex;
  padding: 48px 0px 60px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.features .feature {
  display: flex;
  align-items: center;
  gap: 16px;
}

.features .feature svg {
  width: 44px;
  height: 44px;
}

.features .feature p {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*==================================
        Slider Container
==================================*/

.slider_container {
  display: inline-flex;
  padding: 0px 80px 60px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.slider_container .section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.slider_container .section_header .line_01 {
  width: 362px;
  height: 8px;
  background: #f75e7c;
}

.slider_container .section_header .line_02 {
  width: 362px;
  height: 8px;
  background: #f7bd67;
}

.slider_container .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.slider_container .mySwiper_01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  width: 100% !important;
}

.slider_container .mySwiper_01 #prev-btn::after,
.slider_container .mySwiper_01 #next-btn::after {
  display: none;
}
/* 
.best_container .mySwiper_02 #prev-btn,
.best_container .mySwiper_02 #next-btn {
  position: unset;
} */

.slider_container .mySwiper_01 #prev-btn .arrow,
.slider_container .mySwiper_01 #next-btn .arrow {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 4px;
  border: 1.3px solid #000;
}

.slider_container .mySwiper_01 #prev-btn .arrow svg,
.slider_container .mySwiper_01 #next-btn .arrow svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* .best_container .mySwiper_02 .swiper-wrapper {
  width: 1134px !important;
} */

.slider_container .mySwiper_01 .swiper-slide .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_img {
  width: 362px;
  height: 362px;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_img img {
  width: 100%;
  height: 100%;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_info .product_name {
  color: #000;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_info .price {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider_container .mySwiper_01 .swiper-slide .card .card_info .add_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

/*==============================
        UV Container
==============================*/

.UV_container {
  padding: 68px;
  background: linear-gradient(90deg, #f75e7c 0%, #f7bd67 100%);
}

.UV_container .UV {
  padding: 48px;
  background-image: url("https://cdn.shopify.com/s/files/1/0656/3581/1428/files/Girl_with_Umbrella_1.png?v=1725955459");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 440px;
  flex-shrink: 0;
}

.UV_container .UV h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 113.636% */
}

/*===================================
        Best Container
===================================*/

.best_container {
  display: inline-flex;
  padding: 60px 80px 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.best_container .section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.best_container .section_header .line_01 {
  width: 532px;
  height: 8px;
  background: #f75e7c;
}

.best_container .section_header .line_02 {
  width: 532px;
  height: 8px;
  background: #f7bd67;
}

.best_container .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best_container .mySwiper_02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  width: 100% !important;
}

.best_container .mySwiper_02 #prev-btn::after,
.best_container .mySwiper_02 #next-btn::after {
  display: none;
}
/* 
.best_container .mySwiper_02 #prev-btn,
.best_container .mySwiper_02 #next-btn {
  position: unset;
} */

.best_container .mySwiper_02 #prev-btn .arrow,
.best_container .mySwiper_02 #next-btn .arrow {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 4px;
  border: 1.3px solid #000;
}

.best_container .mySwiper_02 #prev-btn .arrow svg,
.best_container .mySwiper_02 #next-btn .arrow svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* .best_container .mySwiper_02 .swiper-wrapper {
  width: 1134px !important;
} */

.best_container .mySwiper_02 .swiper-slide .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.best_container .mySwiper_02 .swiper-slide .card .card_img {
  width: 362px;
  height: 362px;
}

.best_container .mySwiper_02 .swiper-slide .card .card_img img {
  width: 100%;
  height: 100%;
}

.best_container .mySwiper_02 .swiper-slide .card .card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best_container .mySwiper_02 .swiper-slide .card .card_info .product_name {
  color: #000;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.best_container .mySwiper_02 .swiper-slide .card .card_info .price {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.best_container .mySwiper_02 .swiper-slide .card .card_info .add_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

/*================================
        UGG Container
================================*/

.UGG_container .UGG {
  display: flex;
  padding: 40px 0px 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.UGG .section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.UGG .section_header .line_01 {
  width: 532px;
  height: 8px;
  background: #f75e7c;
}

.UGG .section_header .line_02 {
  width: 532px;
  height: 8px;
  background: #f7bd67;
}

.UGG .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.UGG .mySwiper_03 {
  width: 100% !important;
}

.UGG .mySwiper_03 .swiper-slide img {
  width: 305px;
  height: 305px;
}

/*====================================
        Different Container
====================================*/

.different_container {
  padding: 68px;
  background: linear-gradient(90deg, #f65d7b 0%, #f6bc66 100%);
}

.different_container .different {
  display: flex;
  align-items: center;
  background: #fff7ed;
}

.different .img_section {
  flex: 1 0 0;
  align-self: stretch;
}

.different .img_section img {
  width: 100%;
  height: 100%;
}

.different .text_section {
  display: flex;
  padding: 48px 0px;
  padding-left: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.different .text_section h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 556px;
}

.different .text_section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  width: 556px;
}

.different .text_section .wrapper .box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.different .text_section .wrapper .box svg {
  width: 44px;
  height: 44px;
}

.different .text_section .wrapper .box p {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.different .text_section .wrapper p {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  align-self: stretch;
  text-align: start;
}

/*===============================
        What Container
===============================*/

.what_container {
  display: flex;
  padding: 12px 80px 48px 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: linear-gradient(90deg, #f65d7b 0%, #f6bc66 100%);
}

.what_container h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.what_container .mySwiper_04 {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what_container .mySwiper_04 .swiper-wrapper {
  width: 1136px !important;
}

.what_container .mySwiper_04 #prev-btn,
.what_container .mySwiper_04 #next-btn {
  top: 40%;
}

.what_container .mySwiper_04 #prev-btn::after,
.what_container .mySwiper_04 #next-btn::after {
  display: none;
}

.what_container .mySwiper_04 #prev-btn .arrow,
.what_container .mySwiper_04 #next-btn .arrow {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 4px;
  border: 1.3px solid #000;
}

.what_container .mySwiper_04 #prev-btn .arrow svg,
.what_container .mySwiper_04 #next-btn .arrow svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.what_container .mySwiper_04 .swiper-slide {
  width: 556px !important;
}

.what_container .mySwiper_04 .comment {
  display: flex;
  width: 556px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: #fff7ed;
  backdrop-filter: blur(2px);
}

.what_container .mySwiper_04 .comment .star {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 16px;
}

.what_container .mySwiper_04 .comment .star svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.what_container .mySwiper_04 .comment h3 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 12px;
}

.what_container .mySwiper_04 .comment .card_content {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  margin-bottom: 12px;
}

.what_container .mySwiper_04 .comment .card_content .name {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.what_container .mySwiper_04 .comment .card_content .name span {
  font-size: 15px;
  line-height: 23px;
  opacity: 0.5;
  padding-left: 12px;
}

.what_container .mySwiper_04 .swiper-pagination {
  position: unset;
  margin-top: 40px;
}

.what_container .mySwiper_04 .swiper-pagination-bullet {
  border: 1.5px solid #000;
  background: transparent;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.what_container .mySwiper_04 .swiper-pagination-bullet-active {
  background: #000;
}

/*===============================
        See Container
===============================*/

.see_container .see_difference {
  display: flex;
  padding: 60px 80px 40px 80px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.see_difference .section_header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.see_difference .section_header .line_01 {
  width: 480px;
  height: 8px;
  flex-shrink: 0;
  background: #f75e7c;
}

.see_difference .section_header .line_02 {
  width: 480px;
  height: 8px;
  flex-shrink: 0;
  background: #f7bd67;
}

.see_container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.see_container table tr th:nth-child(2) {
  padding: 16px 168px;
  background: linear-gradient(
    90deg,
    rgba(247, 94, 124, 0.1) 0%,
    rgba(247, 188, 103, 0.1) 100%
  );
}

.see_container table tr th:nth-child(2) img {
  width: 183px;
  height: 40px;
  flex-shrink: 0;
}

.see_container table tr th:last-child p {
  margin: 22px 169px 21px 186px;
  color: #000;
  font-family: "Playfair Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.see_container table tr td:first-child {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-top: 1.5px solid rgba(247, 187, 103, 0.3);
}

.see_container table tr:nth-child(2) td:first-child {
  padding: 32px 112px 32px 24px;
}

.see_container table tr:nth-child(3) td:first-child {
  padding: 20px 24px;
}

.see_container table tr:last-child td:first-child {
  border-bottom: 1.5px solid rgba(247, 187, 103, 0.3);
  padding: 32px 139px 32px 24px;
}

.see_container table tr td:first-child p {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  width: 155px;
}

.see_container table tr td:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(247, 94, 124, 0.1) 0%,
    rgba(247, 188, 103, 0.1) 100%
  );
}

.see_container table tr td:nth-child(2) p {
  margin: 20px 24px;
  width: 470px;
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.see_container table tr td:last-child {
  border-top: 1.5px solid rgba(247, 187, 103, 0.3);
}

.see_container table tr:last-child td:last-child {
  border-bottom: 1.5px solid rgba(247, 187, 103, 0.3);
}

.see_container table tr td:last-child p {
  margin: 20px 24px;
  width: 470px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.see_container table tr th:nth-child(2) {
  border: 1.5px solid #f65d7b;
  border-bottom: 0;
}

.see_container table tr td:nth-child(2) {
  border-left: 1.5px solid #f65d7b;
  border-right: 1.5px solid #f65d7b;
}

.see_container table tr:last-child td:nth-child(2) {
  border-bottom: 1.5px solid #f65d7b;
}

/*================================
        Meet Container
================================*/

.meet_container .meet {
  display: flex;
  padding: 40px 80px 60px 80px;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.meet .text_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.meet .text_section .section_header {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.meet .text_section .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.meet .text_section .section_header .line {
  flex: 1 0 0;
  height: 8px;
  background: linear-gradient(90deg, #f75e7c 0%, #f7bd67 100%);
}

.meet .text_section p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 16px;
}

.meet .text_section .red_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  margin-top: 20px;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

.meet .img_section {
  flex: 1 0 0;
  align-self: stretch;
}

.meet .img_section img {
  width: 100%;
  height: 100%;
}

/*=============================
        FAQ Container
=============================*/

.FAQ_container .FAQ {
  display: flex;
  width: 100%;
  padding: 48px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: linear-gradient(90deg, #f75e7c 0%, #f7bc67 100%);
}

.FAQ h2 {
  color: #000;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FAQ .question_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.FAQ .question_wrapper .box {
  display: flex;
  width: 680px;
  min-width: 500px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #fff7ed;
  backdrop-filter: blur(2px);
}

.FAQ .question_wrapper .box .question {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.FAQ .question_wrapper .box .question p {
  flex: 1 0 0;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.FAQ .question_wrapper .box .question svg {
  width: 10px;
  height: 10px;
}

.FAQ .question_wrapper .box .answer {
  display: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.FAQ .question_wrapper .active-box .answer {
  display: inline-block;
}

.FAQ .question_wrapper .active-box .question svg {
  rotate: 180deg;
}

.FAQ .read_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

/*=====================================
        Instagram Container
=====================================*/

.Instagram_container .Instagram {
  display: flex;
  padding: 40px 0px 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.Instagram .section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.Instagram .section_header .line_01 {
  width: 542px;
  height: 8px;
  background: #f75e7c;
}

.Instagram .section_header .line_02 {
  width: 541px;
  height: 8px;
  background: #f7bd67;
}

.Instagram .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Instagram .mySwiper_03 {
  width: 100% !important;
}

.Instagram .mySwiper_03 .swiper-slide img {
  width: 305px;
  height: 305px;
}

.Instagram .follow_btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;

  color: #fff7ed;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  text-decoration: none;
}

/*==================================
        Sunny Container
==================================*/

.sunny_container {
  display: inline-flex;
  padding: 60px 80px 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.sunny_container .section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.sunny_container .section_header .line_01 {
  width: 532px;
  height: 8px;
  background: #f75e7c;
}

.sunny_container .section_header .line_02 {
  width: 532px;
  height: 8px;
  background: #f7bd67;
}

.sunny_container .section_header h2 {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sunny_container .mySwiper_05 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  width: 100% !important;
}

.sunny_container .mySwiper_05 #prev-btn::after,
.sunny_container .mySwiper_05 #next-btn::after {
  display: none;
}
/* 
.best_container .mySwiper_02 #prev-btn,
.best_container .mySwiper_02 #next-btn {
  position: unset;
} */

.sunny_container .mySwiper_05 #prev-btn .arrow,
.sunny_container .mySwiper_05 #next-btn .arrow {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 4px;
  border: 1.3px solid #000;
}

.sunny_container .mySwiper_05 #prev-btn .arrow svg,
.sunny_container .mySwiper_05 #next-btn .arrow svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.sunny_container .mySwiper_05 .swiper-wrapper {
  width: 1134px !important;
  padding-bottom: 20px !important;
}

.sunny_container .mySwiper_05 .swiper-slide {
  width: 354px !important;
}

.sunny_container .mySwiper_05 .swiper-slide .card {
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border: 1.5px solid #f7bd67;
  background: #fff7ed;
  box-shadow: 10px 10px 0px #f85f7d;
}

.sunny_container .mySwiper_05 .swiper-slide .card .card_img {
  width: 314px;
  height: 200px;
  margin-bottom: 8px;
}

.sunny_container .mySwiper_05 .swiper-slide .card .card_img img {
  width: 100%;
  height: 100%;
}

.sunny_container .mySwiper_05 .swiper-slide .card .date {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.sunny_container .mySwiper_05 .swiper-slide .card .info {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 314px;
}

/*===================================
        Footer Container
===================================*/

.footer_container .footer {
  display: flex;
  padding: 40px 80px 32px 80px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.footer .section_01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer .section_01 .logo {
  width: 237px;
  height: 52px;
}

.footer .section_01 .logo img {
  width: 100%;
  height: 100%;
}

.footer .section_01 .social_icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footer .section_01 .social_icons svg {
  width: 28px;
  height: 28px;
}

.footer .section_02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer .section_02 .wrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.footer .section_02 .wrapper svg {
  width: 36px;
  height: 24px;
}

.footer .section_02 p {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
